    <header
      [ngClass]="theme"
      class="d-flex align-items-center justify-content-between rounded-4 p-3 shadow-sm"
    >
      <h4 class="logo m-0" [ngClass]="theme">Extensions</h4>
      <div
        class="theme-icon p-2 rounded-3"
        (click)="toggleTheme()"
        [ngClass]="theme"
        role="button"
        tabindex="0"
      >
        <img
          src="{{
            theme === 'night' ? 'images/icon-sun.svg' : 'images/icon-moon.svg'
          }}"
          alt="theme icon"
        />
      </div>
    </header>